<p id="notice"><%= notice %></p>

<table>
  <thead>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet"> 
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Date</th>
      <th>Photo</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
<img class="img" src="https://s1.1zoom.me/b4343/921/Waves_Pictorial_art_Japan_Mount_Fuji_Japanese_540457_1920x1080.jpg" alt="" />
<h1 class="h1centre">Musée d'art</h1>
   <div class="header">
            <ul id="menu-deroulant">
 <ul id="menu-demo2">
  <li><a href="#">Accueil</a>
    <ul>
      <li><a href="#">Présentation</a></li>
      <li><a href="#">Artistes exposés</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </li>
  <li><a href="#">Pièces</a>
      <ul>
        <% @themes.each do |theme| %>
          <li><a href="#<%= theme.name %>"><%= theme.name %></a></li>
        <% end %>
      </ul>
    </li>
  </ul>
  </div> 
    <% @themes.each do |theme| %>
      <h1 class="pt" id="<%= theme.name %>"></h1>
      <h1 class="h1s" style="color: #<%= theme.couleurs %>"><%= theme.name %></h1>
      <% theme.arts.each do |art| %>
  
      <h2 src="<%= art.title %>"></h2>
      <%= art.author %>
      <%= art.description %>
      <%= art.date %>
      <img class="imgs" src="<%= art.photo %>">
      <%= art.color %>
      <%= link_to 'Show', art %>
      <%= link_to 'Edit', edit_art_path(art) %>
      <%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art', new_theme_path %>

