<!DOCTYPE html>
<html>
  <head>
    <title>Muse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
       <div class="header">
          <ul id="menu-deroulant">
            <ul id="menu-demo2">
              <li><a href="#home">Accueil</a></li>
              <li><a href="#">Pièces</a>
                <ul>
                  <% navigation_themes.each do |theme| %>
                    <li><a href="#"><%= theme.name %></a></li>
                  <% end %>
                </ul>
              </li> 
            </ul>
          </ul>
        </div> 
    </nav>

    <%= yield %>


  </body>
</html>
